@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.logo{
  height: auto;
  width: 400px;
  object-fit: cover;
}

.landing p{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 90%;
  font-stretch: 50%;
  color: rgba(255,255,255,0.7);
 
}
.landing h2{
  font-size: 100px;
  color: #ffff;
  max-height: 100px;
  font-weight: 800;
  line-height: 80%;
}


.smallsections{
  transform: translate(50%,0%);
  background-color: transparent;
}
.smallsections2{
  transform: translate(-50%,0%);
  background-color: transparent;
}
canvas{
  height: 100vh !important;
} 