<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link src="../app/globals.css">
</head>
<body>
    <div className="h-screen w-[100%] overflow-hidden bg-black p-10 px-15 landing">
        <nav className="h-20 bg-slate-50"></nav>
        <section className="h-full bg-stone-700 flex flex-col justify-center">
          <h3 className="font-sans text-lg">hello</h3>
          <div className="flex h-30 overflow-hidden"><h2 className="self-start">10:10</h2><p className="self-end">first line website</p></div>
          <p>seconf line website</p>
          <p>third line website</p>
        </section>

       </div>
</body>
</html>